
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin breakpoint($val) {
  @media (min-width: $val) {
    @content
  }
}

body {
  font-size: 1rem;
  font-family: 'Public Sans', sans-serif;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../images/d-mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

@import './layouts/l-header';

@import './components/c-card';
@import './components/c-content';
@import './components/c-current';
@import './components/c-location';

